@page "/"

<PageTitle>Disdribuidora De Licores</PageTitle>

<h1>Disdribuidora De Licores</h1>

Sientase en confianza de ver nuestro catalogo de sedes y licores

<SurveyPrompt Title="How is Blazor working for you?" />
