@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {<center>
        <div class="align-items-center">
            <img src="https://cdn.dribbble.com/users/2762516/screenshots/14914852/media/40372a750de9d71d52b8e08b95215f7b.gif" width=300px />
        </div>
        </center>
    }
    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}

@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> MyList { get; set; } = null!;
}
